<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campgrounds[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" id="location" name="campgrounds[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> 
            <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div> 
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campgrounds[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>  -->
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" name="campgrounds[price]" aria-label="Amount (to the nearest dollar)" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campgrounds[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> 
            <div class="mb-3">
                <button class="btn btn-success"> Add Campground</button>
            </div>      
        </form>
        <a href="/campgrounds">All camps</a>
    </div>
</div>

